.product-detail-focus {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.product-detail-focus--title {
  font-size: 26px;
}

.product-detail-focus--image {
  margin: 35px auto 50px auto;
  display: block;
}

.product-detail-focus-carousel {
  margin: 16px auto 10px auto;
  display: block;
}

.product-detail-focus--view-larger {
  display: inline-block;
  vertical-align: top;
  padding-left: 6px;
  padding-top: 3px;
  color: #333;
  font-size: 14px;
}
