.product-detail-reviews {
  font-family: Arial;
}

.product-detail-reviews--overall {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}

.product-detail-reviews--overall-text {
  padding-left: 6px;
}

.product-detail-reviews--view-all {
  color: #000;
  display: block;
  margin-top: 8px;
}

.product-detail-reviews--pros-cons {
  margin-top: 20px;
  background-color: #f6f5f5;
  font-size: 12px;
}

.product-detail-reviews--header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 0 20px;
}

.product-detail-reviews--header .col {
  margin: 0;
  padding: 0;
}

.product-detail-reviews--header .product-detail-reviews__padded-content {
  padding-right: 20px;
}

.product-detail-reviews--title {
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

.product-detail-reviews--body {
  padding: 0 0 20px 0;
  margin: 20px;
}

.product-detail-reviews--body .col {
  padding: 0;
  margin: 0;
}

.product-detail-reviews--body .product-detail-reviews__padded-content {
  padding-right: 20px;
}
