.list-add-and-social {
  padding-top: 20px;
  margin: 0 10px;
}

.list-add-and-social--button {
  border: 0;
  background-color: #f3f3f3;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 0;
}

.small-gutter {
  padding: 0 3px;
}
