.product-detail-purchase--quantity-container {
  margin-top: 20px;
}

.product-detail-purchase--button-container {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.purchase-area--quantity-label {
  top: 9px;
  left: 25px;
  position: absolute;
  font-size: 14px;
  font-family: Arial;
}

.purchase-area--quantity-input {
  border: 1px solid #ccc;
  text-align: right;
  padding: 5px 39px 5px 5px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.purchase-area--button {
  width: 100%;
  font-size: 18px;
  color: #fff;
  border: 0px;
  padding: 6px 0;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 1px 0px #999;
}

.purchase-area--store-pickup {
  background-color: #000;
}

.purchase-area--add-to-cart {
  background-color: #cc0000;
}

.purchase-area-input--button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 4px;
  cursor: pointer;
}

.purchase-area-input--button__plus {
  right: 20px;
}

.purchase-area-input--button__minus {
  right: 80px;
}
