.product-detail-price {
  font-family: Arial;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.product-detail-price--price {
  font-weight: bold;
  font-size: 30px;
}

.product-detail-price--qualifier {
  padding-left: 6px;
  font-size: 12px;
  color: #666;
  text-transform: lowercase;
}

.product-detail-promos {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.product-detail-promos {
  font-family: Arial;
}

.product-detail-promos--list {
  list-style: none;
  padding-left: 27px;
  font-size: 18px;
  color: #cc0000;
}

.product-detail-promos--list li:before {
  content: '';
  height: 1em;
  width: 1em;
  display: block;
  float: left;
  margin-left: -1.5em;
  margin-top: 0.25em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMaxYMax' viewBox='0 0 32 32' height='17' width='17' focusable='false' class='sc-htpNat fPgaxB'><g><path stroke='none' fill='#c00' d='M8.9,0.5C7.9,0.2,6.4,0.6,5.6,1.4L1.4,5.6C0.6,6.3,0.2,7.9,0.5,8.9L2,14.6c0.3,1.1,1.1,2.6,1.9,3.3l12.7,12.7c0.8,0.8,2.1,0.8,2.8,0l11.1-11.1c0.8-0.8,0.8-2.1,0-2.8L17.9,3.9c-0.8-0.8-2.3-1.6-3.3-1.9L8.9,0.5z M10.4,10.4c-1.2,1.2-3.2,1.2-4.4,0c-1.2-1.2-1.2-3.2,0-4.4c1.2-1.2,3.2-1.2,4.4,0C11.7,7.3,11.7,9.2,10.4,10.4z'></path></g></svg>");
  background-size: 90%;
  background-position: center;
  transition: background-size 0.3s;
  -webkit-transition: background-size 0.3s;
}
